.ContainerDiv {
	width:100%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	display: flex;
  flex-flow: column;
  align-items: center;
	border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;

  padding: 10px 0;
	margin-bottom: 20px;
}

@media (max-width: 499px) {
	.ContainerDiv {
		margin-left: 30px;
	}
}

.RowDiv {
	width: 100%;
	margin: auto;
	/*box-sizing: border-box;*/
	border-bottom: 1px solid #ccc;
	/* margin-left: 20px;
	margin-right: 20px; */
}

.Image {
	background-color: white;
   padding: 5px;
   margin: 5px;
  height: 50%;
}

.Image img {
	height: 100%;
	width: 100%;
	border: 2px solid #ccc;
}

.Restaurent {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	/*padding: 5px;*/
}
.RestaurentName {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 2rem;
	color: red;
	font-family: 'Oswald', sans-serif;
}
.RestaurentLocality {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: black;
	font-weight: bold;
}

.RestaurentAddress {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	color: gray;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}

.Rating {
	margin-top: 10px;
	width: 120px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	background-color: white;
	color: black;
}
.Rating label {
	margin-right: 10px;
}
.Rating span {
	margin-top: 10px;
}
.checked {
  color: green;
}

.RowTable {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 0.8rem;

}

.Cell {
	margin-left: 100px;
	/*align-items: center;*/
}

.OrderButtonDiv {
	align-items: center;
}
.OrderButton {
    background-color: #fc8019;
    color: black;
    outline: none;
    width: 250px;
    cursor: pointer;
    border: 1px solid #966909;
    /*color: #966909;*/
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    box-shadow: 2px 2px 2px #966909;
}

.OrderButton:hover, .OrderButton:active {
    background-color: white;
    border: 1px solid #966909;
    color: black;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}
